[Unit]
Description=Fan Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python [REPLACE PATH]/fan_control/fan.py

[Install]
WantedBy=multi-user.target
